@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <center>
         <br />
        <h3>EasySME Logistics Inventory Management System</h3>
    </center>
</div>
<div class="product-img-container">
    <video width="1000" height="500" autoplay="autoplay" muted>
        <source src="/images/logivid.mp4" type="audio/mp4" />
    </video>
</div>
