@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome</h1>
    <h2 class="display-4">to the</h2>
    <br />
    <h3 class="display-1" >EasySME</h3>
    <h4 class="display-4">Inventory Management System</h4>
</div>
