@model LogisticInventorySystem.Models.Item

@{
    ViewData["Title"] = "Main";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}


<body style="margin: 0;">
    <div class="text-center">
        <h1 class="display-4">Welcome, Administrator</h1>
    </div>
</body>
