@model LogisticInventorySystem.Models.Item

@{
    ViewData["Title"] = "Main";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<div class="text-center">
    <center>
        <br />
        <h3>Welcome, Admin</h3>
    </center>
</div>
<div class="product-img-container">
    <video width="1000" height="500" autoplay="autoplay" muted>
        <source src="/images/admin.mp4" type="audio/mp4" />
    </video>
</div>
